<main class="col col-md-10 col-lg-9">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="card-title text-center">{{user}}</h1>
      <p class="h5 text-center">{{email}}</p>
    </div>
    <div class="card-body">
      <div class="row row-cols-1 row-cols-lg-2">
        <section class="col d-flex justify-content-center">
          <img src="{{image}}" alt="avatar" class="rounded-circle shadow avatar">
        </section>
        <section class="col mt-3 mt-lg-0" aria-labelledby="formUserdata">
          <h2 class="text-center">Change user data</h2>
          <form action="" id="formUserdata" aria-label="ChangeUserdata">
            <div class="mb-2">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" class="form-control" id="firstName" name="first_name">
            </div>
            <div class="mb-2">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" class="form-control" id="lastName" name="last_name">
            </div>
            <div class="mb-2">
              <label for="image" class="form-label">User image</label>
              <input type="file" class="form-control" id="image" name="image">
            </div>
            <div class="d-flex flex-row justify-content-end my-3">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </section>
      </div>
      <div class="row row-cols-1">
        <section class="col-12 mt-3 mt-lg-0">
          <h2 class="text-center">Recent assigned tasks</h2>
          <div class="list-group list-group-flush">
            <a href="{{DetailView}}" class="list-group-item list-group-item-action">
              Cold, warm cannibals loudly pull a misty, rainy parrot.
            </a>
            <a href="{{DetailView}}" class="list-group-item list-group-item-action">
              Shiny, dark shipmates awkwardly mark a fine, real biscuit eater.
            </a>
            <a href="{{DetailView}}" class="list-group-item list-group-item-action">
              Clear, dark lubbers oppressively blow a rough, warm rum.
            </a>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
